/* Main Styling */

.container{
    /* border: red 1px solid; */

    display: flex;
    margin: 0;
}

/* Theme Toggle */

.toggle-lighting {
    /* border: red 1px solid; */

    border: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    background: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.icon-wrapper {
    /* border: red 1px solid; */

    position: relative;
    width: 28px;
    height: 28px;
    padding: 0;
}

.icon {
    /* border: red 1px solid; */

    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.9));
}

.visible {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.hidden {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
}

/* Sidebar */

.side-bar {
    /* border: rgb(89, 0, 255) 1px solid; */

    position: fixed;

    width: 4vw;
    height: 100vh;
    z-index: 2;
    /* opacity: 1; */
    transition: width 0.2s ease-in, opacity 0.2s ease-in;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;

    background-color: rgb(77, 77, 209);
} 

.side-bar:hover {
    width: 6vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.icon-wrapper-sidebar {

    display: flex;
    flex-direction: column;
}

.icon-tooltip {
    margin-bottom: 2rem;

    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 8px;
    border-radius: 6px;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s, top 0.3s;
    z-index: 10;
}

.icon-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    top: 140%; /* little slide down effect */
}

/* Main content */

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.4s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.items-container {
    /* border: 1px red solid; */
    margin-left: 4vw;

    display: flex;
    align-content: flex-start;
    gap: 1.5rem;
    flex-wrap: wrap;
    overflow-x: auto;
    padding: 2rem;

    width: 70%;
    height: 100vh;

    justify-content: center;
}

.items-container::-webkit-scrollbar {
    display: none;
}

.item {
    border: 1px rgb(160, 160, 160) solid;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);

    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    transition: ease-in 0.1s;
    user-select: none;
}

.item:hover {
    transform: scale(1.05) !important;
}

.item:active {
    transform: scale(1) !important;
}

.item-out-of-stock {
    filter: grayscale(100%) brightness(50%);
}

img {
    width: 224px;
    height: 224px;
    border-radius: 8px;
}

.rect {
    width:147px;
    height: 224px;
    border-radius: 8px;
}

.buttons-wrapper {
    display: flex;
    gap: 15px;
    width: 90%;
}

.buttons-wrapper button {
    width: 15%;
    height: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: rgb(77, 77, 209);
    border: none;
    color: white;

    transition: ease-in 0.1s;
} .buttons-wrapper button:hover {
    transform: scale(1.1);
} .buttons-wrapper button.active {
    background-color: rgb(30, 30, 100);
    transform: scale(1.05);
}

/* Orders Container */

.orders-header {
    margin-left: 2rem;
}

.orders-container {
    /* border: 1px rgb(255, 0, 0) solid; */
    display:flex;
    flex-direction: column;
    max-width: 30%;
    height: 100vh;
    padding: 10px;
    gap:10px;
    user-select: none;

    background-color: rgb(77, 77, 209);
}

.table-container {
    /* background-color: black; */
    border: 1px solid black;
    border-radius: 5px;
    height: 30%;
    width: 100%;
    overflow-y: auto;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.orders-table th {
    background-color: rgb(48, 26, 146);
    width: 100%;
    height: 3rem;
    position: sticky;
    top: 0;
}

.ordered-items td {
    border-bottom: 1px solid black;
    height: 30px;
    text-align: center;
    /* background-color: rgb(60, 58, 63); */
}

.ordered-items td button {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color: rgb(139, 30, 30);
    border: 1px solid black;
    border-radius: 5px;
}

/* Calculator Container */

.calculator-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55%;
    border: 1px solid black;
    border-radius: 10px;
    padding:10px;
    gap:10px;
    box-sizing: border-box;

    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.display {
    width: auto;
    height: 30%;
}

.calculator-display-table {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-bottom: none;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.calculator-display-table td {
    width: 50%;
    border-bottom: 1px solid black;
    padding: 10px
}

.calculator-display-table tr:last-child {
    font-size: large;
    font-weight: bold;
}

.calculator-display-table td:nth-child(1) {
    border-right: 1px solid black;
}

.calculator-display-table td:nth-child(2){
    text-align: right;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    /* max-width: 200px; */
}

.calculator-container button {
    color: white;
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    background: #2b1d5c;
    cursor: pointer;
    transition: ease-in 0.1s;

    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.calculator-container button:hover {
    transform: scale(1.05);
}

.calculator-container button:active {
    transform: scale(1);
}

.check-out-buttons {
    display: flex;
    justify-content: space-around;
    gap:10px;
    width: 100%;
}

.check-out-buttons button {
    width: 50%;
    height: 50px;
    border: none;

    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

#btn-10, #btn-20, #btn-30 {
    background-color: #191038;
}

#btn-Delete {
    grid-column: span 2;
}

#cancel-button {
    border: 1px solid black;
    /* background-color: rgb(119, 31, 31); */
} #cancel-button:hover {
    background-color: rgb(187, 20, 20);
}

#check-out-button {
    border: 1px solid black;
    /* background-color: transparent; */
} #check-out-button:hover{
    background-color: rgb(19, 139, 19);
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    color: black;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}


/* Inventory Page */

.inventory-container {
    margin-left: 4vw;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    height: 90vh;
    gap: 10px;
    padding: 20px;
}

.table-container-header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    transition: ease-in 0.1s;
}

.table-container-header select,
.table-container-header button,
.save-button  {
    border-radius: 10px;
    border: 1px solid black;
    width: 130px;
    height: 35px;
}

.save-button {
    background-color: rgb(77, 77, 209);
    margin-top: auto;
    margin-left:auto;
    color: white;
    transition: ease-in 0.1s;
}

.table-container-header button {
    background-color: rgb(77, 77, 209);
    color: lightgray;
}

.table-container-header button:hover,
#save-button:hover {
    transform: scale(1.05);
}

.table-container-header button:active,
#save-button:active {
    transform: scale(1.05);
}

.filters {
    display: flex;
    justify-content: left;
    gap:20px;
    align-items: center;
}

.filters select{
    color:white;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(77, 77, 209);
    border-radius: 0px;
}

.filters option{
    color:black;
    background-color: lightgray;
}

.filters select {
    border-radius: 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid rgb(77, 77, 209);
    color: white;
    cursor: pointer;
}

.filters select option{
    border-radius: 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid rgb(77, 77, 209);
    color: white;
    cursor: pointer;
}

.filters select option{
    background-color: rgb(77, 77, 209);
    color: white;
    padding-left: 0.5rem;
}

.search  {
    width: 550px;
    height: 25px;
    border:none;
    border-bottom: 1px solid rgb(77, 77, 209);
    background: none;
    outline:none;
    padding: 5px;
    font-size: medium;
    color: rgb(211, 211, 211);
}

.search:focus {
    border-bottom: 2px solid rgb(77, 77, 209);
}

.table-container-header button {
    background-color: rgb(77, 77, 209);
    color: lightgray;
}

.table-container-header button:hover,
.save-button:hover {
    transform: translateY(-3px);
}

.table-container-header button:active,
.save-button:active {
    transform: translateY(0px);
}

.save-button {
    background-color: #437057;
    margin-top: auto;
    margin-left:auto;
}


/* WAG TANGGALIN */

/* #context-menu {
    display: none;
    position: absolute;
    background: #CD0B0B;
    border: 1px solid black;
    border-radius: 10px;
    list-style: none;
    padding: 5px;
    font-size: small;
}

#delete-option {
    padding: 5px;
    cursor: pointer;
} */

#context-menu:hover {
    background-color: #7A0000;
}

.stocks-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: lightgray;
}

.stocks-table td, .stocks-table th {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color:black;
    border-bottom: 1px solid black;
}

.stocks-table th {
    background-color: rgb(77, 77, 209);
    color: white;
    position: sticky;
    top: 0;
}

.quantity, .price {
    height: 100%;
    width: 80%;
    font-size: medium;
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
}

.product-type {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: large;
    border: none;
    outline: none;
    background: transparent;
}

.out-of-stock {
    background-color: red;
}

.table-scroll {
    max-height: 85%;
    overflow-y: auto;
    border: 1px solid black;
    background-color: #b7b7b7;
    border-radius: 8px;
}

/*  History Page    */

.history-container {
    margin-left: 4vw;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    height: 90vh;
    gap: 10px;
    padding: 40px;
}

.table-container-header select,
.table-container-header button,
.save-button  {
    border-radius: 10px;
    border: 1px solid black;
    width: 130px;
    height: 35px;
}

.save-button {
    background-color: rgb(77, 77, 209);
    margin-top: auto;
    margin-left:auto;
    color: white;
    transition: ease-in 0.1s;
}

.table-container-header button {
    background-color: rgb(77, 77, 209);
    color: lightgray;
}

.table-container-header button:hover,
#save-button:hover {
    transform: scale(1.05);
}

.table-container-header button:active,
#save-button:active {
    transform: scale(1.05);
}

.filters {
    display: flex;
    justify-content: left;
    gap:20px;
    align-items: center;
}

.filters select{
    color:white;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(77, 77, 209);
    border-radius: 0px;
}

.filters option{
    color:black;
    background-color: lightgray;
}

.filters select {
    border-radius: 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid rgb(77, 77, 209);
    color: white;
    cursor: pointer;
}

.filters select option{
    border-radius: 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid rgb(77, 77, 209);
    color: white;
    cursor: pointer;
}

.filters select option{
    background-color: rgb(77, 77, 209);
    color: white;
    padding-left: 0.5rem;
}

.search  {
    width: 550px;
    height: 25px;
    border:none;
    border-bottom: 1px solid rgb(77, 77, 209);
    background: none;
    outline:none;
    padding: 5px;
    font-size: medium;
    color: rgb(211, 211, 211);
}

.search:focus {
    border-bottom: 2px solid rgb(77, 77, 209);
}

.table-container-header button {
    background-color: rgb(77, 77, 209);
    color: lightgray;
}

.table-container-header button:hover,
.save-button:hover {
    transform: translateY(-3px);
}

.table-container-header button:active,
.save-button:active {
    transform: translateY(0px);
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: lightgray;
}

.history-table td, .history-table th {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color:black;
    border-bottom: 1px solid black;
}

.history-table th {
    background-color: rgb(77, 77, 209);
    color: white;
    position: sticky;
    top: 0;
}

.quantity, .price {
    height: 100%;
    width: 80%;
    font-size: medium;
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
}

.product-type {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: large;
    border: none;
    outline: none;
    background: transparent;
}

.out-of-stock {
    background-color: red;
}

.table-scroll {
    max-height: 85%;
    overflow-y: auto;
    border: 1px solid black;
    background-color: #b7b7b7;
    border-radius: 8px;
}