/* Main Styling */

.container {
    /* border: red 1px solid; */

    display: flex;
    margin: 0;
}

/* Theme Toggle */

.toggle-lighting {
    /* border: red 1px solid; */

    border: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    background: none;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.icon-wrapper {
    /* border: red 1px solid; */

    position: relative;
    width: 28px;
    height: 28px;
    padding: 0;
}

.icon {
    /* border: red 1px solid; */

    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.9));
}

.visible {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.hidden {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
}

/* Sidebar */

.side-bar {
    /* border: rgb(89, 0, 255) 1px solid; */

    position:fixed;

    width: 4vw;
    height: 100vh;
    z-index: 2;
    /* opacity: 1; */
    transition: width 0.2s ease-in, opacity 0.2s ease-in;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(77, 77, 209);
} .side-bar:hover {
    width: 6vw;
}

.icon-wrapper-sidebar {
    margin-top: 6rem;

    display: flex;
    flex-direction: column;
}

.icon-tooltip {
    margin-bottom: 2rem;

    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 8px;
    border-radius: 6px;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s, top 0.3s;
    z-index: 10;
}

.icon-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    top: 140%; /* little slide down effect */
}

/* Main content */

.items-container {
    /* border: 1px red solid; */
    margin-left: 4vw;

    display: flex;
    align-content: flex-start;
    gap: 1.5rem;
    flex-wrap: wrap;
    overflow-x: auto;
    padding: 2rem;

    width: 70%;
    height: 100vh;

    justify-content: center;
}

.items-container::-webkit-scrollbar {
    display: none;
}

.item {
    border: 1px rgb(160, 160, 160) solid;
    border-radius: 15px;

    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;

    user-select: none;

    transition: ease-in 0.1s;
} .item:hover {
    transform: scale(1.05);
} .item:active {
    transform: scale(1);
}

img {
    width: 224px;
    height: 224px;
    border-radius: 8px;
}

.buttons-wrapper {
    display: flex;
    gap: 15px;
    width: 90%;
}

.buttons-wrapper button {
    width: 15%;
    height: 30px;
    border-radius: 10px;

    background-color: rgb(77, 77, 209);
    border: none;
    color: white;

    transition: ease-in 0.1s;
} .buttons-wrapper button:hover {
    transform: scale(1.1);
} .buttons-wrapper button.active {
    background-color: rgb(30, 30, 100);
    transform: scale(1.05);
}

/* Orders Container */

.orders-header {
    margin-left: 2rem;
}

.orders-container {
    /* border: 1px rgb(255, 0, 0) solid; */
    display:flex;
    flex-direction: column;
    max-width: 30%;
    height: 100vh;
    padding: 10px;
    gap:10px;
    user-select: none;

    background-color: rgb(77, 77, 209);
}

.table-container {
    /* background-color: black; */
    border: 1px solid black;
    border-radius: 5px;
    height: 30%;
    width: 100%;
    overflow-y: auto;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.orders-table th {
    background-color: rgb(48, 26, 146);
    width: 100%;
    height: 3rem;
    position: sticky;
    top: 0;
    
}

.ordered-items td {
    border-bottom: 1px solid black;
    height: 30px;
    text-align: center;
    /* background-color: rgb(60, 58, 63); */
}

.ordered-items td button {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color: rgb(116, 35, 35);
    border: 1px solid black;
    border-radius: 5px;
}

/* Calculator */

.calculator-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55%;
    border: 1px solid black;
    border-radius: 10px;
    padding:10px;
    gap:10px;
    box-sizing: border-box;
}

.display {
    width: auto;
    height: 30%;
}

.calculator-display-table {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.calculator-display-table td {
    width: 50%;
    border-bottom: 1px solid black;
    padding: 10px
}

.calculator-display-table tr:last-child {
    font-size: large;
    font-weight: bold;
}

.calculator-display-table td:nth-child(1) {
    border-right: 1px solid black;
}

.calculator-display-table td:nth-child(2) {
    border-left: 1px solid black;
    text-align: right;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    /* max-width: 200px; */
}

.calculator-buttons button {
    color: white;
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    background: #2b1d5c;
    cursor: pointer;
}

.calculator-container button:hover {
    transform: scale(1.01);
}

.calculator-container button:active {
    transform: scale(1);
}

.check-out-buttons {
    display: flex;
    justify-content: space-around;
    gap:10px;
    width: 100%;
}

.check-out-buttons button {
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 5px;
}

#btn-10, #btn-20, #btn-30 {
    background-color: #120a31;
}

#btn-← {
    grid-column: span 2;
}

#cancel-button {
    background-color: rgb(139, 30, 30);
}

#check-out-button {
    background-color: green;
}

#cancel-button:hover {
    background-color: rgb(85, 15, 15);
}

#check-out-button:hover {
    background-color: rgb(7, 88, 7);
}

.history-page h1 {
    margin-left: 500px;
}

.inventory-page h1 {
    margin-left: 500px;
}